@using MvcLogin.Models
@model IEnumerable<QuanSo>


<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            @* <th>
            @Html.DisplayNameFor(model => model.IdBcqs)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.IdDv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongQs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QsVang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaoNgu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BenhXa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiThucTe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiThucTap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiTt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiCtac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThaiSan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LyDoKhac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChuThich)
            </th>
            
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                @* <td>
            @Html.DisplayFor(modelItem => item.IdBcqs)
            </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.IdDv)
                </td>
                <td class="date-format">
                    @Html.DisplayFor(modelItem => item.Ngay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongQs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QsVang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DaoNgu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BenhXa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiHoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiThucTe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiThucTap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiTt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiCtac)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThaiSan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LyDoKhac)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChuThich)
                </td>
                
            </tr>
        }
    </tbody>


</table>