@using MvcLogin.Models

@model IEnumerable<QuanSo>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/xuatexcel.js"></script>
<script src="/js/xuatpdf.js"></script>
<div style="display: flex; justify-content: space-around;">
    <form method="get" asp-action="Index">
        <div class="form-group">
            <label for="ngay">Ngày:</label>
            <input type="date" class="form-control" id="ngay" name="ngay" />
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 32px;">Tìm kiếm</button>
    </form>
    <form method="post" asp-action="SetHours">
        <div class="form-group">
            <label for="startHour">Start Hour:</label>
            <input type="time" class="form-control" id="startHour" name="start" />
        </div>
        <div class="form-group">
            <label for="endHour">End Hour:</label>
            <input type="time" class="form-control" id="endHour" name="end" />
        </div>
        <button type="submit" class="btn btn-primary" style="margin-top: 32px;">Thiết lập</button>
    </form>
    <form method="get" asp-action="ExportToExcel">
        <div class="form-group">
            <label for="ngayf">Ngày:</label>
            <input type="date" class="form-control" id="ngayf" name="ngay" />
        </div>
        @* <button type="button" class="btn btn-primary" style="margin-top: 32px;" onclick="exportToExcel()">Xuất excel</button> *@
        <button type="button" class="btn btn-primary" style="margin-top: 32px;" onclick="exportToPDF()">Xuất PDF</button>
      

    </form>

</div>
<table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdDv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ngay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TongQs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QsVang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaoNgu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BenhXa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiThucTe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiThucTap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiTt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiCtac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThaiSan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LyDoKhac)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChuThich)
            </th>
            <th></th>
            <th></th>

           
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDv)
                </td>
                <td class="date-format">
                    @Html.DisplayFor(modelItem => item.Ngay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongQs)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QsVang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DaoNgu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BenhXa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiHoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiThucTe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiThucTap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiTt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DiCtac)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ThaiSan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LyDoKhac)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ChuThich)
                </td>
               
                <td>

                    <a asp-action="Edit" asp-route-Id="@item.IdDv"><i class="bi bi-pen">Sửa</i></a>


                </td>
                <td>
                    <button class="btn btn-success saveEdit" type="button" style="display:none;">Lưu</button>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2"><strong>Tổng:</strong></td>
            <td><strong>@Model.Sum(item => item.TongQs)</strong></td>
            <td><strong>@Model.Sum(item => item.QsVang)</strong></td>
            <td><strong>@Model.Sum(item => item.DaoNgu)</strong></td>
            <td><strong>@Model.Sum(item => item.DiVien)</strong></td>
            <td><strong>@Model.Sum(item => item.BenhXa)</strong></td>
            <td><strong>@Model.Sum(item => item.DiHoc)</strong></td>
            <td><strong>@Model.Sum(item => item.DiThucTe)</strong></td>
            <td><strong>@Model.Sum(item => item.DiThucTap)</strong></td>
            <td><strong>@Model.Sum(item => item.DiTt)</strong></td>
            <td><strong>@Model.Sum(item => item.DiCtac)</strong></td>
            <td><strong>@Model.Sum(item => item.ThaiSan)</strong></td>
            <td><strong>@Model.Sum(item => item.LyDoKhac)</strong></td>
       
        </tr>
    </tfoot>

</table>



 <script>
    (function () {
        var oldLog = console.log;
        console.log = function (message) {
            oldLog.apply(console, arguments); // Gọi phương thức console.log cũ để hiển thị trong console của trình duyệt
            var consoleDiv = document.getElementById('consoleLog');
            var newMessage = document.createElement('div');
            newMessage.textContent = message;
            consoleDiv.appendChild(newMessage); // Thêm thông báo mới vào thẻ div
        };
    })();

    $('td').on('click', function () {
        var currentTD = $(this);
        if (!currentTD.find('input').length && !currentTD.is(':last-child')) { // Loại trừ cột nút
            var value = currentTD.text();
            currentTD.empty().append($('<input>', { value: value, type: 'text' }));
            currentTD.find('input').focus();
            currentTD.siblings().last().find('.saveEdit').show(); // Hiển thị nút Lưu
        }
    });

    $('.saveEdit').on('click', function () {
        var row = $(this).closest('tr');
        var id = row.find('td:first').text(); // Giả sử cột đầu tiên là ID
        var updatedValues = {};

        row.find('td').each(function (index, td) {
            if ($(td).find('input').length > 0) {
                var input = $(td).find('input');
                var key = input.attr('name'); // Thêm thuộc tính name cho mỗi input khi tạo
                var value = input.val();
                updatedValues[key] = value;
            }
        });

        $.ajax({
            url: '@Url.Action("EditNew", "AdminController")',
            type: 'POST',
            data: { id: '@Model. IdDv', updatedValues: updatedValues },
            success: function (response) {
                // Xử lý sau khi cập nhật thành công
                console.log('Cập nhật thành công');
            },
            error: function (error) {
                // Xử lý lỗi
                console.log('Có lỗi xảy ra');
            }
        });

        $(this).hide(); // Ẩn nút Lưu sau khi nhấn
    });


</script>





